# Ignore objects and archives.
*.[oa]
# Ignore expat programs
expat/gennmtab/gennmtab
expat/sample/elements
# Ignore test programs
test/tread
test/trbuild
test/tcbuild
test/tdel
test/tcook
test/tfont
test/tpa2poly
mgrx/rsvg
mgrx/gsvg
mgrx/showsvg
# Ignore graphics files from test programs
test/msvgt*.svg
mgrx/tgsvg.svg
# Others
svgexpls
grad
fonts
.directory
