# Ignore objects and archives.
*.[oa]
# Ignore expat programs
expat/gennmtab/gennmtab
expat/sample/elements
# Ignore test programs
test/t1
test/t2
test/tdel
mgrx/rsvg
mgrx/gsvg
# Ignore graphics files from test programs
test/msvgt1.svg
test/msvgt2.svg
# Others
.directory
